body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --main-color: rgb(10, 10, 64);
  --text-color: rgb(114, 222, 236);
  --text-color-hover: rgb(168, 248, 241);
  --text-color-secondary: rgb(220, 16, 251);
  --text-color-secondary-hover: rgb(238, 131, 255);
  --background-color-hover: rgba(0, 0, 0, 0.215);
  --icon-size:clamp(.25rem, calc(2vw + .75rem), 2rem);
  --arrow-size:clamp(.15rem, calc(1.5vw + .5rem), 1.25rem);
}

/* Variables */

*{
  /* overflow: hidden; */
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: 20px;
}

/* Document Style */

html{
  color: var(--text-color);
  background-color: var(--main-color);
}

input, textarea, button {
  background-color: transparent;
  outline: none;
  border: none;
  color: inherit;        /* Keep text visible */
  font: inherit;         /* Optional: inherit font styling */
}

textarea{
  resize: none;
  width: 100%
}

input{
  width: 100%;  
}



.link{
  display: inline-block;
  margin: clamp(1rem, calc(.5rem + 1vw), .5rem) clamp(.5rem, calc(.7rem + 1vw), 1rem);
  margin-left: 0rem;
  border: 1px solid var(--text-color-secondary);
  padding: clamp(.25rem, calc(.35rem + 1vw), .5rem) clamp(.5rem, calc(.7rem + 1vw), 1rem);
  color: var(--text-color-secondary);
  font-size: clamp(.25rem, calc(.5rem + 1vw), 1rem);
}

.link:hover{
  border: 1px solid var(--text-color-secondary-hover);
  color: var(--text-color-secondary-hover);
  
}

.mobile-nav{
  position: fixed;
}

.desktop-navbar{
  display: none;
  background-color: var(--main-color);
  position: fixed;
  width: 100%;
  padding: clamp(.5rem, calc(.75rem + 1rem),1.5rem);
}

.desktop-navbar > ul{
  display: flex;
  justify-content: space-around;
}

.desktop-navbar > ul > li > a{
  color: var(--text-color)
}

.mobile-navbar{
  border-left: solid 1px var(--text-color);
  z-index: 2;
  background-color: var(--main-color);
  position:absolute;
  padding: 0 clamp(.5rem, calc(.75rem + 1rem) ,2rem);
  right: 0;
}

.mobile-navbar > ul{
  height: 100dvh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.mobile-navbar > ul > li > a{
  color: var(--text-color);
  font-size: clamp(.5rem, calc(1vw + .5rem), 1rem);
}

.mobile-nav-button{
  z-index: 1;
  display: flex;
  width: 100%;
  position: fixed;
}

.mobile-nav{
  z-index: 3;
  display: flex;
  width: 100%;
  position: fixed;
}

.mobile-nav-icon{
  margin-left: auto;
  margin-right: clamp(.15rem, calc(.25rem + 3vw), 1rem);
  margin-top: clamp(.15rem, calc(.25rem + 3vw), 1rem);
  width: var(--icon-size);
  height: var(--icon-size);
  fill: var(--text-color);
}

.mobile-nav-arrow{
  border: solid 3px var(--text-color);
  border-radius: 1000px;
  padding: clamp(.1rem, calc(.25vw + .25rem), 1rem);
  margin-left: auto;
  width: var(--arrow-size);
  height: var(--arrow-size);
  fill: var(--text-color);
}

.main{
  height: 100dvh;
  width: 100%;
}

.main-section{
  margin: 0 min(4rem, 8%); 
  /* margin-left: 4rem;
  margin-top: 0rem; */
}

.main-section-header{
  display: flex;
  flex-direction: column;
  margin-bottom: clamp(.25rem, calc(1vw + .25rem), 2rem);
  padding-top: clamp(.5rem, calc(1vw + 4.5rem), 6rem);
  font-size: clamp(1rem, calc(4.5vw + 1rem), 6rem);
  text-wrap:balance;
}

.secondary-text{
  font-size: clamp(.25rem, calc(1.75vw + .75rem), 2rem);
  color: var(--text-color-secondary)
}

.main-section-full{
  width: 100%;
  height: 100dvh;
}

.main-section-text{
  font-size: clamp(.25rem, calc(1vw + .5rem), 1.25rem);
}

.icon{
  width: var(--icon-size);
  height: var(--icon-size);
  fill: var(--text-color);
}

.icon:hover{
  fill: var(--text-color-hover);
}

.section-links{
  position: sticky;
  margin-right: 2rem;
  margin-top: auto;
  bottom: 5rem;;
}

.nav-link{
  padding-bottom: .5rem;
}

.nav-link:hover {
  color: var(--text-color-hover);
  border-bottom: 2px solid var(--text-color);
}

/* 
.section-secondary{
  margin: 8rem 0rem .5rem 10rem;
} 
*/

.section-secondary > div{
  width: 100%;
  height: 100dvh;
}

.form{
  margin-top: clamp(.25rem, calc(.75rem + 3vw), 1.5rem);
  border: solid 2px var(--text-color);
  padding: clamp(.05rem, calc(.25rem + 5vh), .5rem) clamp(.25rem, calc(.5rem + 3vw), 1rem);
}

.form-section{
  border-bottom: 1px solid var(--text-color);
  display: flex;
  margin: 1rem 0rem 1rem 0rem;
  padding: .25rem 0rem .25rem 0rem;
}

.form-section > textarea:hover{
  background-color: var(--background-color-hover);
}

.form-section:hover{
  background-color: var(--background-color-hover);
}

.form-section-container{
  border-bottom: 1px solid var(--text-color);
  display: flex;
  padding-bottom: .25rem;
}

.form-section-container:hover{
  background-color: var(--background-color-hover);
}

.form-text{
  margin-right: 1rem;
  height: fit-content;
  font-size: clamp(.25rem, calc(.5rem + 1vw), 1rem);
}


.form-button{
  margin-top: 2rem;
  text-align: center;
  justify-content: center;
  border: 1px solid var(--text-color)
}

.form-button:has(.block-button){
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form-button:hover{
  color: var(--text-color-hover);
  border: 1px solid var(--text-color-hover);
}

.form-input{
  font-size: clamp(.25rem, calc(.5rem + 1vw), 1rem);
}
/* 
.form-input:hover{
  background-color: var(--background-color-hover);
} */

.card{
  margin-top: 3rem;
  padding: 0rem;
  border: 1px solid var(--text-color);
  max-width: 70rem;
  transition: all 0.3s ease;
}

.card-link{
  margin-top: 3rem;
  padding: 0rem;
  border: 2px solid var(--text-color);
  border-radius: 10px;
  display: flex;
}

.card-image{
  margin-right: 1rem;
  height: 200px;
  width: 200px;
  border-radius: 10px 0px 0px 10px;
}

.card-header{
  font-size: clamp(.25rem, calc(.5rem + 1vw), 1rem);
  color: var(--text-color);
}

.card-description{
  margin-right: 2rem;
  color: var(--text-color);
}

.card:hover{
  background-color: var(--background-color-hover);
  border-color: var(--text-color-hover);
  color: var(--text-color-hover);
}

.card:hover .card-header,
.card:hover .card-descrip6ion {
  color: var(--text-color-hover) /* Change font color on hover */
}

.card-link:hover{
  color: var(--text-color-hover);
}

.display-flex{
  display: flex;
}

.display-block{
  display: block;
}

.layout-horizontal{
  flex-direction: row;
}

.layout-vertical{
  flex-direction: column;
}

.blog-section{
  max-width: 100%;
}

.blog-block{
  width: 100%;
  margin: min(1rem, 90%) 0rem;
}

.blog-img{
  margin: min(1.25rem, 5%) 0rem;
  width: auto;
  height: auto;
}

.blog-text{
  font-size: clamp(.4rem, calc(.5rem + 1vw), 1rem);
  width: auto;
  min-width: 50%;
  max-width: 100%;
  min-height: 100%;
}

.blog-header-lg{
  font-size: clamp(.25rem, calc(1rem + 1vw), 2rem);
}

.end{
  margin-left: auto;
}

.admin-section{
  align-items: end;
  
}

.admin-header{
  margin: auto;
  text-align: center;
  padding-top: 2rem;
}

.admin-nav-wrapper{
  display: flex;
}

.admin-nav{
  background-color: var(--main-color);
  height: 100dvh;
  display: flex;
  justify-content: flex-end;
  border-right: solid 1px var(--text-color);
}

.nav-wrapper{
  height: 100%;
  width:100%;
}   

.admin-ul{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} 

.admin-nav-arrow{
  margin: 1rem;
  width: .75rem;
  fill: var(--text-color);
  border: 2px solid var(--text-color);
  padding: .5rem;
  border-radius: 1000px;
}

/* .admin-nav-right-arrow{
  position: absolute;
} */

.admin-button{
  margin: .5rem .5rem .5rem .5rem;
  text-align: center;
  color: var(--text-color);
  padding: .25rem 1rem .25rem 1rem;
  border: solid 1px var(--text-color)
}

.admin-button:hover{
  color: var(--text-color-hover);
  border: solid 1px var(--text-color-hover);
  background-color: var(--background-color-hover);
}

.admin-panel{
  /* margin: clamp(4rem, calc(.25rem + 4vw), 8rem) clamp(4rem, calc(.25rem + 4vw), 8rem); */
  margin: min(2rem, 5%) min(2rem, 4%);
  padding-top: 2rem;
}

.projects-section{
  display: inline-block;
  width: 100%;
}

.block > section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block-section{
  display: flex;
  margin-bottom: 1rem;
}

.block-section > select{
  margin-right: 1rem;
}

.block-select{ 
  height: fit-content;
  text-align: center;
}

.input-section{
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--text-color);
}

.input-section > label{
  margin-right: .5rem;
}

.section-input{
  width: 100%;
}

.section-input:hover{
  background-color: var(--background-color-hover);
}

.editor-nav > :last-child{
  margin-top: 1rem;
}

.hidden{
  display: none;
}


.sidebar-active{
  display:none;
}

.open-sidebar-button, .close-sidebar-button{
  display: none;
}

@media (max-width: 500px){
  /* .open-sidebar-button, .close-sidebar-button{
    display: block;
    } */
    
  .nav-wrapper{
    background-color: var(--main-color);
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    left:-100%;
    z-index: 10;
    width: 200px;
    border-right: 1px solid var(--text-color);
    transition: .75s ease-out;
  }

  .open-sidebar-button, .close-sidebar-button{
    display: block;
  }

  .sidebar-active:checked ~ .nav-wrapper{
    left: 0;
  }

  .sidebar-active:checked ~ .overlay{
    z-index: 9;
    height: 100%;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
  }
}
